* {
    margin: 0;
    padding: 0;
}

body {
    font-family:arial;
    line-height: 1.5em;
    background-color: #f4f4f4;
    font-size: 15px;
}

.shoutit {
    background-color: #153649;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    min-height: 575px;
}

.shoutit h1 {
    text-transform: uppercase;
    color: #fff;
    padding: 10px 10px 10px 0;
    border-bottom: 3px solid #fff;
    width: 90%;
    margin: 20px auto;
}

.shout-window {
    background-color: #f4f4f4;
    width: 90%;
    margin: auto;
    overflow: auto;
    min-height: 300px;
    padding: 8px;
    margin-bottom: 20px;
}

.shout-window .shouts {
    list-style: none;
    margin-bottom: 8px;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}



input[type='text'] {
      width: 90%;
      margin: auto;
      display: block;
      margin-bottom: 15px;
      padding: 5px;
}

input[type='submit'] {
    width: 90%;
    margin: auto;
    display: block;
}

.btn-danger {
    text-align: center;
    padding: 5px;
}